body {
    background-color: rgb(239, 242, 247);
}

#logo{ 
   font-family: Zekton;
   font-size: 3vw;
   color: rgb(0, 73, 205);
   border: 5px solid white;
   width: 282px;
   border-radius: 25px;
   background-color: white;
}

span {
    color: rgb(159, 156, 236);
}

#signin{
    display: inline;
    vertical-align: top;
    font-family: 'Arial Rounded MT';
    background-color: white;
    line-height: 28px;
}
    
p{
    /*outline: 3px solid orange;*/
    /*border: 2px solid tomato;*/
    background-color: white;
    
}
body {
    background-image: url('download (1).png');
}


img {
    float: right;
    clear: left;
}
